@model AutodorInfoSystem.Models.Task

@{
    ViewData["Title"] = Model.Name;
}

<div class="container mt-4">
    <div class="details-header">
        <h4>Детали задачи "@Model.Name"</h4>
    </div>
    <div class="card bg-light text-dark">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-2">
                    Название задачи
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-2">
                    Описание задачи
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Description)
                </dd>
            </dl>
        </div>
    </div>

    <div class="details-actions mt-3">
        <a class="btn btn-secondary" asp-action="Details" asp-controller="Projects" asp-route-id="@Model.IdProject">
            <i class="fas fa-arrow-left"></i> Назад к проекту
        </a>
        @if (User.Identity.IsAuthenticated)
        {
            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.IdTask">
                <i class="fas fa-edit"></i> Редактировать основную информацию
            </a>
            <a class="btn btn-danger" asp-action="Delete" asp-controller="Tasks" asp-route-id="@Model.IdTask" onclick="return confirm('Вы уверены, что хотите удалить эту задачу?');">
                <i class="fas fa-trash"></i> Удалить задачу
            </a>
        }
    </div>
    <div>
        <h3 class="mt-4">Материалы</h3>
    @if (User.Identity.IsAuthenticated)
    {
            <div class="details-actions mt-3">
                <a class="btn btn-success" asp-controller="Materials" asp-action="Create" asp-route-idTask="@Model.IdTask">
                    <i class="fas fa-plus-circle"></i> Добавить материал
                </a>
            </div>
    }
        <div class="mt-4 card bg-light text-dark">
            <div class="card-body">
                @if (Model.MaterialsHasTasks != null && Model.MaterialsHasTasks.Any())
                {
                    <table class="table table-striped table-hover tasks-table">
                        <thead>
                            <tr>
                                <th>Название материала</th>
                                <th>Количество</th>
                                <th>Цена</th>
                                <th>Стоимость</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var material in Model.MaterialsHasTasks)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => material.IdMaterialNavigation.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => material.Quantity) @Html.DisplayFor(modelItem => material.IdMaterialNavigation.MeasurementUnit)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => material.IdMaterialNavigation.Price) руб.
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => material.Cost) руб.
                                    </td>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <td>
                                            <a class="btn btn-primary" asp-action="Edit" asp-controller="Materials" asp-route-id="@material.IdMaterial">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a class="btn btn-danger" asp-action="Delete" asp-controller="Materials" asp-route-idTask="@Model.IdTask" asp-route-id="@material.IdMaterial" onclick="return confirm('Вы уверены, что хотите удалить этот материал?');">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p>Материалы отсутствуют.</p>
                }
            </div>
        </div>
    </div>

    <div>
        <h3 class="mt-4">Спецтехника</h3>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="details-actions mt-3">
                <a class="btn btn-success" asp-controller="Equipments" asp-action="Create"  asp-route-idTask="@Model.IdTask">
                    <i class="fas fa-plus-circle"></i> Добавить спецтехнику
                </a>
            </div>
        }
        <div class="mt-4 card bg-light text-dark">
            <div class="card-body">
                @if (Model.EquipmentHasTasks != null && Model.EquipmentHasTasks.Any())
                {
                    <table class="table table-striped table-hover tasks-table">
                        <thead>
                            <tr>
                                <th>Название спецтехники</th>
                                <th>Количество </th>
                                <th>Цена</th>
                                <th>Стоимость</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var equipment in Model.EquipmentHasTasks)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => equipment.IdEquipmentNavigation.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => equipment.Quantity) шт
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => equipment.IdEquipmentNavigation.Price) руб.
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => equipment.Cost) руб.
                                    </td>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <td>
                                            <a class="btn btn-primary" asp-action="Edit" asp-controller="Equipments" asp-route-id="@equipment.IdEquipment">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a class="btn btn-danger" asp-action="Delete" asp-controller="Equipments" asp-route-idTask="@Model.IdTask" asp-route-id="@equipment.IdEquipment" onclick="return confirm('Вы уверены, что хотите удалить эту спецтехнику?');">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p>Спецтехники отсутствуют.</p>
                }
            </div>
        </div>
    </div>

    <div>
        <h3 class="mt-4">Рабочие</h3>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="details-actions mt-3">
                <a class="btn btn-success" asp-controller="Workers" asp-action="Create" asp-route-idTask="@Model.IdTask">
                    <i class="fas fa-plus-circle"></i> Добавить рабочего
                </a>
            </div>
        }
        <div class="mt-4 card bg-light text-dark">
            <div class="card-body">
                @if (Model.WorkersHasTasks != null && Model.WorkersHasTasks.Any())
                {
                    <table class="table table-striped table-hover tasks-table">
                        <thead>
                            <tr>
                                <th>Должность</th>
                                <th>Количество</th>
                                <th>Зарплата</th>
                                <th>Стоимость</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var worker in Model.WorkersHasTasks)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => worker.IdWorkerNavigation.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => worker.Quantity)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => worker.IdWorkerNavigation.Salary) руб.
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => worker.Cost) руб.
                                    </td>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <td>
                                            <a class="btn btn-primary" asp-action="Edit" asp-controller="Workers" asp-route-id="@worker.IdWorker">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a class="btn btn-danger" asp-action="Delete" asp-controller="Workers" asp-route-idTask="@Model.IdTask" asp-route-id="@worker.IdWorker" onclick="return confirm('Вы уверены, что хотите удалить этого рабочего?');">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p>Рабочие отсутствуют.</p>
                }
            </div>
        </div>
    </div>
</div>